# If you want Electrum eCash to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight eCash (ECX) Client
Exec=electrum %u
GenericName[en_US]=eCash Wallet
GenericName=eCash Wallet
Icon=electrum
Name[en_US]=Electrum eCash
Name=Electrum eCash
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/ecx;
Actions=Testnet;
Keywords=crypto;currency;ECX;eCash;

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
